<nav class="nav-container">
    <ul class="nav-ul-shop">
        <li class="nav-li"> <a href="/">Home</a></li>
        <li class="nav-li"> <a href="/cart">Cart</a></li>

    </ul>
    <div class="nav-ul-admin">
        {{#if loggedIn}}
        {{#if isAdmin}}
        <li class="nav-li"> <a href="/admin/products">Products</a></li>
        <li class="nav-li"> <a href="/admin/add-product">Add Product</a></li>
        <li class="nav-li"> <a href="/admin/users">Users</a></li>
        {{/if}}
        <li class="nav-li"> <a href="/logout">LogOut</a></li>
        {{else}}
        <li class="nav-li"> <a href="/login">Login</a></li>
        <li class="nav-li"> <a href="/signup">SignUp</a></li>
        {{/if}}
    </div>
</nav>