{{!-- <h2>This is home page</h2> --}}
<div class="products-container">
    <div class="product-card">
        <div class="img-product">
            <img src="/images/pill.jpg" alt="product image">
        </div>
        <div class="product-info">
            <p>name</p>
            <p>price</p>
        </div>
        <div class="product-buttons">
            <button class="product-btn">Details</button>
            <button class="product-btn">Add To Cart</button>
        </div>
    </div>

    <div class="product-card">
        <div class="img-product">
            <img src="/images/pill.jpg" alt="product image">
        </div>
        <div class="product-info">
            <p>name</p>
            <p>price</p>
        </div>
        <div class="product-buttons">
            <button class="product-btn">Details</button>
            <button class="product-btn">Add To Cart</button>
        </div>
    </div>
    <div class="product-card">
        <div class="img-product">
            <img src="/images/pill.jpg" alt="product image">
        </div>
        <div class="product-info">
            <p>name</p>
            <p>price</p>
        </div>
        <div class="product-buttons">
            <button class="product-btn">Details</button>
            <button class="product-btn">Add To Cart</button>
        </div>
    </div>
    <div class="product-card">
        <div class="img-product">
            <img src="/images/pill.jpg" alt="product image">
        </div>
        <div class="product-info">
            <p>name</p>
            <p>price</p>
        </div>
        <div class="product-buttons">
            <button class="product-btn">Details</button>
            <button class="product-btn">Add To Cart</button>
        </div>
    </div>
    <div class="product-card">
        <div class="img-product">
            <img src="/images/pill.jpg" alt="product image">
        </div>
        <div class="product-info">
            <p>name</p>
            <p>price</p>
        </div>
        <div class="product-buttons">
            <button class="product-btn">Details</button>
            <button class="product-btn">Add To Cart</button>
        </div>
    </div>
    <div class="product-card">
        <div class="img-product">
            <img src="/images/pill.jpg" alt="product image">
        </div>
        <div class="product-info">
            <p>name</p>
            <p>price</p>
        </div>
        <div class="product-buttons">
            <button class="product-btn">Details</button>
            <button class="product-btn">Add To Cart</button>
        </div>
    </div>
    <div class="product-card">
        <div class="img-product">
            <img src="/images/pill.jpg" alt="product image">
        </div>
        <div class="product-info">
            <p>name</p>
            <p>price</p>
        </div>
        <div class="product-buttons">
            <button class="product-btn">Details</button>
            <button class="product-btn">Add To Cart</button>
        </div>
    </div>
</div>