<div class="products-container">
    {{#each prods}}
    <div class="product-card">
        <div class="product-info">
            <p>{{name}}</p>
        </div>
        <div class="img-product">
            <img src="{{imagePath}}" alt="product image">
        </div>
        <div class="product-info">
            <p>{{price}}</p>
        </div>
        <div class="product-buttons">
            <a href="/product-details/{{_id}}" class="product-btn link-btn">Details</a>
            <a href="/cart" class="product-btn link-btn">Add To Card</a>
        </div>
    </div>
    {{/each}}

</div>