<div class="form-control">
    <form action="/login" method="post">
        <div class="form-input">
            <label for="login-username">Username</label>
            <input type="text" name="login-username">
        </div>
        <div class="form-input">
            <label for="login-password">Password</label>
            <input type="password" name="login-password">
        </div>
        <div class="input-submit-button">
            <input type="submit" value="login" name="login">
        </div>
    </form>

</div>