{{> navigation}}
<div class="product-details-container">
    <div class="product-details-name">

        <h3>{{product.name}}</h3>
    </div>
    <div class="product-details-image">
        <img src="/{{product.imagePath}}" alt="product-image">
    </div>
    <div class="product-details-price">
        <h3>{{product.price}}</h3>
    </div>
    <div class="product-details-description">
        <p>{{product.description}}</p>
    </div>
    <a href="/" class="link-btn-details">Go Back To Shop</a>
</div>