<div class="form-control">
    <form action="/signup" method="post">
        <div class="form-input">
            <label for="login-username">Username</label>
            <input type="text" name="loginUsername">
        </div>
        <div class="form-input">
            <label for="login-password">Password</label>
            <input type="password" name="loginPassword">
        </div>
        <div class="form-input">
            <label for="login-password-confirm">Confirm Password</label>
            <input type="password" name="loginPasswordConfirm">
        </div>
        <div class="input-submit-button">
            <input type="submit" value="Sign Up" name="signup">
        </div>
    </form>

</div>